<!DOCTYPE html>
<html>
  <head>
    <title>Request Manager</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables_themeroller.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/parsleyjs/src/parsley.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <p>AUTHENTICATED!</p>
    <%- body %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
