<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request Manager</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/bower_components/datatables/media/css/jquery.dataTables_themeroller.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/parsleyjs/src/parsley.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--SCRIPTS END-->
    <style>
    body {
      font-family: 'Open Sans', sans-serif;
    }

    .container {
      margin: 20px auto;
    }

    h4 {
      margin-bottom: 0;
    }
    </style>
  </head>

  <body>
    <%- body %>
  </body>
</html>
