<div class="container">
  <h1>View Category: <%= category.name %></h1>
  <p><strong>Name:</strong> <%= category.name %></p>

  <a class="btn btn-medium btn-primary" href="/category/edit/<%= category.id %>">Edit</a>
</div>
